<!--
  @file footer.ejs
  @author Elliot Wood
  @version 1.0
  @date 2025-09-02
  @brief Pied de page du site.
-->
<!DOCTYPE html>


<p class="text-center text-muted">© Copyright 2025 The Tall People</p>