<!DOCTYPE html>
<!--
  @file head.ejs
  @author Elliot Wood
  @version 1.0
  @date 2025-09-02
  @brief En-tête HTML commun à toutes les pages.
-->

<meta charset="UTF-8">

<title>Super Awesome</title>


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>

    body    { padding-top:50px; }

</style>