<!DOCTYPE html>
<!--
  @file error.ejs
  @author Elliot Wood
  @version 1.0
  @date 2025-09-02
  @brief Page de contact.
-->
<html>
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <h1>Mes informations de contact</h1>
    <table class="table table-hover table-bordered table-striped">
      <thead class="table-dark"> 
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Adresse postale</th>
          <th>Courriel</th>
          <th>Téléphone</th>
          </tr>
          <tr>
          <td>Elliot </td>
          <td>Wood</td>
          <td>lol you wish  </td>
          <td>202330982@edu.clg.qc.ca</td>
          <td>438-234-5678</td>
        </tr>
      </table>
    <br>
    <a class=

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>